.content {
  font-size: 54px;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  width: 100%;
  // position: sticky;
  // top: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 5;
}

.right {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.button {
  margin-right: 20px;
  transition: 0.5s;
  opacity: 0;
}

.showBtn {
  opacity: 1;
}
