@import "../../../assets/styles/vars.scss";

h1.heading {
  font-weight: 400;
  font-size: 64px;
  @media (max-width: 980px) {
    font-size: 44px;
  }

  @media (max-width: 720px) {
    font-size: 28px;
  }

  @media (max-width: 490px) {
    font-size: 25px;
  }
}

h2.heading {
  font-weight: 800;
  font-size: 64px;
}
