.banner {
  position: relative;
  max-width: 1560px;
  height: 126px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  & > svg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
}

.content {
  max-height: 2lh;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 480px;
}

@media screen and (max-width: 720px) {
  .banner {
    font-size: 18px;
    height: 90px;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    font-size: 14px;
    height: auto;
  }

  .content {
    max-width: 320px;
  }
}
