@import "../../../assets/styles/vars.scss";

.mainBanner {
  position: relative;
  overflow: hidden;
}

.highlight {
  color: $accent-blue;
  font-weight: bold;
}

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1000px;
  left: -1000px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 45%,
    $accent-blue 100%
  );
  aspect-ratio: 1 / 1;
  background-size: 100%;
  background-position: center -300px;
  // animation: bgAnim 2s;
}

.container {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

span.accent {
  color: $accent-blue;
  font-weight: 800;
  white-space: nowrap;
}

.heading {
  margin: 0 auto;
  margin-bottom: 22px;
  line-height: 1.2;
}

.subHeading {
  font-size: 18px;
  max-width: 840px;
  display: block;
  line-height: 1.2;
  ul {
    text-align: left;
    li {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 10px;
        background: $accent-blue;
      }
    }
  }
}

.buttonBlock {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subButton {
  display: block;
  margin-top: 10px;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  max-width: 300px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%);
  transition: 0.5s;
  transition-delay: 100ms;
  position: relative;
  z-index: -1;
}

.buttonBlock:hover ~ .subButton {
  visibility: visible;
  opacity: 0.9;
  transform: translateY(0);
}

@media screen and (max-width: 980px) {
  .subHeading {
    max-width: 600px;
    font-size: 16px;
  }
}

@media screen and (max-width: 720px) {
  .subHeading {
    max-width: 420px;
    font-size: 12px;
  }

  .heading {
    margin-bottom: 15px;
    line-height: 1.2;
  }

  .buttonBlock {
    padding-top: 15px;
  }
}

@media screen and (max-width: 550px) {
  .heading,
  .subHeading {
    br {
      display: none;
    }
  }

  .subButton {
    font-size: 12px;
    width: 230px;
  }
}
