@import "../../../assets/styles/vars.scss";

.heading {
  text-align: center;
  margin-bottom: 40px;
}

.projectTypes {
  padding: 60px 0;
}

// PROJECT ITEM
.project {
  position: relative;
  max-width: 1020px;
  width: 100%;
  margin-right: auto;
  transform: translateX(-12px);
  .icon,
  .backdrop {
    right: -24px;
  }

  .backdrop {
    border-top-right-radius: 34px;
  }
}

.projectReversed {
  margin-left: auto;
  margin-right: unset;
  transform: translateX(12px);

  .icon,
  .backdrop {
    right: unset;
    left: -24px;
  }

  .backdrop {
    border-top-right-radius: 20px;
    border-top-left-radius: 34px;
  }
}

.backdrop {
  background: $accent-blue;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -24px;
  z-index: -1;
  border-radius: 20px;
}

.content {
  background: rgba(50, 50, 50, 0.55);
  backdrop-filter: blur(20px);
  padding: 60px 50px;
  border-radius: 20px;
  color: #fff;
  overflow: hidden;
  h3 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 6px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
  }

  &:hover {
    cursor: none;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 2;
  top: -24px;
  padding: 16px;
  border-radius: 50%;
  background: $accent-blue;
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    fill: #fff;
  }
}
// PROJECT ITEM END

// PROJECT GRID START
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 90px;
  padding: 60px 12px;
}
// PROJECT GRID END
.cursorBackdrop {
  width: 100px;
  height: 100px;
  // transform: translate(-50%, -50%);
  transform-origin: center;
  position: absolute;
  background: #181818;
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
  filter: blur(15px);
  transition: 0.3s opacity;
  border: 1px solid white;

  @media (hover: none) {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .heading {
    margin-bottom: 10px;
  }

  // PROJECT ITEM
  .content {
    padding: 30px 40px;

    h3 {
      font-size: 30px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  // PROJECT ITEM END

  .grid {
    grid-gap: 50px;
  }
}

@media screen and (max-width: 568px) {
  // PROJECT ITEM
  .project {
    transform: translateX(-6px);
    .backdrop {
      border-radius: 15px;
      border-top-right-radius: 24px;
      right: -12px;
    }

    .icon {
      right: -12px;
    }
  }

  .projectReversed {
    transform: translateX(6px);

    .backdrop {
      border-top-right-radius: 15px;
      border-top-left-radius: 24px;
      left: -12px;
    }

    .icon {
      right: unset;
      left: -12px;
    }

    .content {
      padding-right: 20px;
      padding-left: 35px;
    }
  }

  .backdrop {
    top: -12px;
  }

  .content {
    padding: 35px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 15px;

    h3 {
      font-size: 24px;
      margin-bottom: 0;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      margin-top: 10px;
    }
  }

  .icon {
    width: 50px;
    height: 50px;
    padding: 12px;
    top: -12px;
  }
  // PROJECT ITEM END

  .grid {
    padding: 30px 6px;
    grid-gap: 30px;
  }
}
